<!DOCTYPE html>
<html>
<head>
	<title>List Page</title>
</head>
<body>
	<h1>브랜치 명단</h1>
	<!-- <a href="/insert"> INSERT DATA </a> -->
	<hr />
	<table width="100%" height="60" border="1" style="table-layout:fixed; text-align: center">
		<tr>
			<th bgcolor="#A3FFFE" >브랜치 이름</th>
 			<% bsList.forEach( function (item, index) { %>
			<th bgcolor="#A3FFFE" ><%= item.charge._ %></th>
			<% }); %>
		</tr>
		<tr>
			<th bgcolor="#A3FFFE" >브랜치장</th>
 			<% bsList.forEach( function (item, index) { %>
			<td><%= item.name._ %></td>
			<% }); %>
		</tr>
		<% for(var i = 0; i < maxNumber; i++) { %>
		<tr>
			<td bgcolor="#A3FFFE"></td>
			<% branchTable.forEach( function (item, index) { %>
				<td><% if (item.length > i) {%><a href="/profile/<%= item[i].RowKey._ %>"><%= item[i].RowKey._ %></a><%}%></td>
			<% }); %>
		</tr>
		<% } %>
 	</table>
 	
</body>
</html>