<!DOCTYPE html>
<html>
<head>
	<title>Edit Page</title>
</head>
<body>
	<h1>Edit Page</h1>
	<hr />


	<fieldset style="width: 250px">
		<legend>EDIT DATA</legend>
		<form action="/upload/<%= data.RowKey._%>" enctype="multipart/form-data" method="post">
		<input type="hidden" name="PartitionKey" value="<%=data.PartitionKey._%>">
		<input type="hidden" name="RowKey" value="<%=data.RowKey._%>">
		<input type="file" name="upload" accept="image/*"><br>
			<% if(data.photo) { %>
			<img src="<%=data.photo._%>" width="200" align="center"/><br/>
			<% } else { %>
			<img src="https://sbpccyouth.blob.core.windows.net/imgcontainer/lss_10.jpg" width="200" align="center"/><br/>
			<% } %>
		<input type="submit" value="Upload">
		</form>
		<form method="post">
		<table>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td><label>또래: </label></td>
				<td><%= data.PartitionKey._ %> 또래</td>
			</tr>
			<tr>
				<td><label>이름: </label></td>
				<td><%= data.RowKey._ %></td>
			</tr>
			<tr>
				<td><label>브랜치</label></td>
				<td><input type="text" name="branch" value="<%= data.branch._ %>" /></td>
			</tr>
			<tr>
				<td><label>성별</label></td>
				<td><input type="text" name="gender" value="<%= data.gender._ %>" /></td>
			</tr>
			<tr>
				<td><label>전화번호</label></td>
				<td><input type="text" name="phone" value="<%= data.phone._ %>" /></td>
			</tr>
			<tr>
				<td><label>생년월일</label></td>
				<td><select id="birthYear">
					<% for(var i=75; i <99; i++) { %> 
					<option value="<%=i%>" <% if(i==data.birthYear._) {%>selected<%}%> ><%=i%></option>
					<% } %>
					</select>
					<select id="birthMonth">
					<% for(var i=1; i <13; i++) { %> 
					<option value="<%=i%>" <% if(i==data.birthMonth._) {%>selected<%}%> ><%=i%></option>
					<% } %>
					</select>
					<select id="birthDay">
					<% for(var i=1; i <32; i++) { %> 
					<option value="<%=i%>" <% if(i==data.birthDay._) {%>selected<%}%> ><%=i%></option>
					<% } %>
					</select>
				</td>
			</tr>
		</table>
		</form>
		<input type="submit" />
	</fieldset>
</body>
</html>
