<!DOCTYPE html>
<html>
<head>
	<title>브랜치 명단</title>
    <link rel="stylesheet" type="text/css" href="css/table.css" />

<!-- 	<link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<body>
	<!-- <h1>브랜치 명단</h1> -->
	<div class="datagrid">
	<table>
	<caption>브랜치 명단</caption>
	<thead>
		<tr>
			<th>브랜치 이름</th>
 			<% bsList.forEach( function (item, index) { %>
			<th><%= item.branch._ %></th>
			<% }); %>
			<th>기타</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="<%=bsList.length+2 %>">
				<div id="paging">
					<form action="/saveMakedBranch" method="post">
					<% var newIndex = 0 %>
					<%allMember.forEach(function(branchItem, b_index) {%>
						<%branchItem.forEach(function(item, index) {%>
						<% newIndex++ %>
						<input type="hidden" name="memberName[<%=newIndex%>]" value="<%=item.RowKey._%>">
						<input type="hidden" name="memberKey[<%=newIndex%>]" value="<%=item.PartitionKey._%>">
						<input type="hidden" name="branchName[<%=newIndex%>]" value="<%=item.branch._%>">
						<input type="hidden" name="bmAge[<%=newIndex%>]" value="<%=item.age._%>">
						<% if (item.attendDesc != null) {%>
						<input type="hidden" name="bmAttendDesc[<%=newIndex%>]" value="<%=item.attendDesc._%>">
						<%}%>
						<%});%>
					<%});%>

		 			<% bsList.forEach( function (item, index) { %>
					<input type="hidden" name="bsList[<%=index%>]" value="<%=item.RowKey._%>">
					<% }); %>
					<ul>
						<li><a href="/show_maked" class="active"><span>브랜치 맴버 전원</span></a></li>
						<li><a href="/show_maked?attendValue=1"><span>아예 안나오는 사람 제외</span></a></li>
						<li><a href="/show_maked?attendValue=2"><span>거의 안나오는 사람 제외</span></a></li>
						<li><a href="/show_maked?attendValue=3"><span>잘 나오는 사람들만 표시</span></a></li>
						<li><a href="/show_maked?attendValue=4"><span>고정 맴버만 표시</span></a></li>
						<li><input name="final_save" type="submit" value="임시저장"></li>
						<li><input name="final_save" type="submit" value="확정"></li>
					</ul>
					</form>
				</div>
		</tr>
	</tfoot>

	<tbody>
		<tr>
			<th>브랜치장</th>
 			<% bsList.forEach( function (item, index) { %>
			<td>
				<%= item.RowKey._ %>
			</td>
			<% }); %>
			<th>없음</th>
		</tr>

		<% for(var i = 0; i < maxNumber; i++) { %>
		<tr<% if (i%2 == 0) {%> class="alt"<%}%>>
			<% if (i==0) {%>  <td rowspan="<%=maxNumber%>">청 2부</td> <%}%>
			<% branchTable.forEach( function (item, index) { %>
				<td>
					<% if (item.length > i) {%><%= item[i].RowKey._ %><%}%>
				</td>
			<% }); %>
		</tr>
		<% } %>
		<tr height="1">
			<td style="background: #D1DEE4" colspan="<%=bsList.length+2 %>">
		</tr>
		<% for(var i = 0; i < maxYoungNumber; i++) { %>
		<tr<% if ((i+maxNumber)%2 == 0) {%> class="alt"<%}%>>
			<% if (i==0) {%>  <td style="background: #FFFFFF" rowspan="<%=maxYoungNumber%>">청 1부</td> <%}%>
			<% branchYoungTable.forEach( function (item, index) { %>
				<td>
					<% if (item.length > i) {%><%= item[i].RowKey._ %><%}%>
				</td>
			<% }); %>
		</tr>
		<% } %>
		<tr height="1">
			<td style="background: #D1DEE4" colspan="<%=bsList.length+2 %>">
		</tr>
		<% for(var i = 0; i < maxArmy; i++) { %>
		<tr<% if ((i+maxNumber+maxYoungNumber)%2 == 0) {%> class="alt"<%}%>>
			<% if (i==0) {%>  <td style="background: #E1EEF4" rowspan="<%=maxArmy%>">군입대자</td> <%}%>
			<% armyTable.forEach( function (item, index) { %>
				<td><% if (item.length > i) {%><%= item[i].RowKey._ %><%}%></td>
			<% }); %>
			<td></td>
		</tr>
		<% } %>

		<tr height="1">
			<td style="background: #D1DEE4" colspan="<%=bsList.length+2 %>">
		</tr>
		<% for(var i = 0; i < maxOther; i++) { %>
		<tr<% if ((i+maxNumber+maxYoungNumber+maxArmy)%2 == 0) {%> class="alt"<%}%>>
			<% if (i==0) {%>  <td style="background: #FFFFFF" rowspan="<%=maxOther%>">유학자 및 지방근무자</td> <%}%>
			<% otherTable.forEach( function (item, index) { %>
				<td><% if (item.length > i) {%><%= item[i].RowKey._ %><%}%></td>
			<% }); %>
			<td></td>
		</tr>
		<% } %>
		<tr<% if ((maxNumber+maxYoungNumber+maxArmy+maxOther)%2 == 0) {%> class="alt"<%}%>>
			<td style="background: #E1EEF4">브랜치 활성도</td>
			<% for (var i = 0; i < branchPowerList.length; i++) {%>
				<td><%=branchPowerList[i]%></td>
			<%}%>
		</tr>

	</tbody>
	</table>
	</div>
	<div> 
		<table>
			<tr>
				<td><h3> 브랜치 변경 :&nbsp;&nbsp;&nbsp;</h3><form action="/show_maked" method="post"></td>
				<td><label>이름: </label></td>
				<td><input type="text" name="changeName" /></td>
				<td><label>&nbsp;&nbsp;브랜치: </label></td>
				<td><input type="text" name="changeBranch" /></td>
				<td><input type="submit" value="적용"/></td>
				</form>
			</tr>
			<tr>
				<td><h3> 브랜치 이름 변경 :&nbsp;&nbsp;&nbsp;</h3>
				<form action="/change_branch_name" method="post"></td>
				<td><label>브랜치: </label></td>
				<td><select name="change_branch">
		 			<% bsList.forEach( function (item, index) { %>
					<option value="<%= item.branch._ %>"><%= item.branch._ %></option>
					<% }); %>
					</select></td>
				<!-- <td><input type="text" name="changeName" /></td> -->
				<td><label>변경 이름: </label></td>
				<td><input type="text" name="change_branch_name" /></td>
				<td><input type="submit" value="적용"/></td>
				</form>
			</tr>
			<!-- <tr>
				<td><h3> 편성 확정 :&nbsp;&nbsp;&nbsp;</h3><form action="/save_final_branch" method="post"></td>
				<td><label>년도: </label></td>
				<td><input type="text" name="year" /></td>
				<td><input type="submit" value="확정"/></td>
				</form>
			</tr> -->
		</table>
		</form>
	</div>
</body>
</html>